.new_quotation_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
  row-gap: 1vw;
}

.Header_new_quotation_setup {
  display: flex;
  justify-content: center;
  font-size: 2vw;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.update_section_new_quotation {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  row-gap: 2vw;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 2vw;
  border-radius: 1vw;
}

.new_quotation_setup_section {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}

.new_quotation_setup_section select {
  width: 20vw;
  height: 2.5vw;
  border: none;
  transition: border-color 0.3s;
  outline: none;
  background: none;
  font-size: 1vw;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.new_quotation_setup_section_button {
  display: flex;
  justify-content: center;
}

.new_quotation_setup_section_button button {
  width: 10vw;
  height: 2.5vw;
  border-radius: 0.5vw;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: rgb(218, 220, 221);
  cursor: pointer;
  color: #000000;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.max_discount_quotation {
  margin-left: 0.3vw;
}

.error_quotation {
  width: 24vw;
  height: 3vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  top: 6vw;
  background-color: rgba(255, 129, 130, 0.4);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* Media Query for smaller screens */
@media screen and (min-width: 768px) and (max-width: 1068px) {
  .new_quotation_container {
    height: 80vh;
  }
  .update_section_new_quotation {
    height: 45vw;
    width: 50%;
  }

  .Header_new_quotation_setup {
    font-size: 4vw;
  }
  .max_discount_quotation {
    font-size: 3vw;
    margin-left: 1.5vw;
  }
  .new_quotation_setup_section select {
    width: 100%;
    height: 7vw;
    font-size: 3vw;
  }

  .new_quotation_setup_section_button button {
    width: 20vw;
    height: 5vw;
    font-size: 2vw;
  }

  .error_quotation {
    width: 80vw;
    height: 6vw;
    top: 35%;
    font-size: 3vw;
    gap: 3vw;
  }
}

@media screen and (max-width: 768px) {
  .new_quotation_container {
    height: 80vh;
  }
  .update_section_new_quotation {
    height: 45vw;
    width: 50%;
  }

  .Header_new_quotation_setup {
    font-size: 4vw;
  }
  .max_discount_quotation {
    font-size: 3vw;
    margin-left: 1.5vw;
  }
  .new_quotation_setup_section select {
    width: 100%;
    height: 7vw;
    font-size: 3vw;
  }

  .new_quotation_setup_section_button button {
    width: 20vw;
    height: 5vw;
    font-size: 2vw;
  }

  .error_quotation {
    width: 80vw;
    height: 6vw;
    top: 35%;
    font-size: 3vw;
    gap: 3vw;
  }
}
