.glass_container_new_customer_add_modaweb_wrapper {
  background-color: #d8d8d8;
  height: 94.5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass_container_new_customer_add_modaweb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 92%;
  margin: 0 auto;
  border-radius: 0.5vw;
  padding: 1vw;
  background-color: #d8d8d8;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.glass_conatainer_button_new_customer_add img {
  max-width: 100%;
}

.glass_container_new_customer_add_modaweb .glass_text_primary {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);

  animation-name: effectTop;
  animation-duration: 1s;
}
/* ===========glass_container_first_row_div_new_customer_add============== */
.glass_container_first_row_div_new_customer_add {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: #d6d5d5;
  border-radius: 2vh;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.8vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  width: 96%;
  height: 10%;
  padding: 1vh;
  animation-name: effectTop;
  animation-duration: 1s;
}

.glass_input_field_new_customer_add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.glass_input_field_new_customer_add label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  font-size: 1.1vw;
  font-weight: bold;
  padding-left: 0.3vw;
  width: 8.3vw;
  height: 3.2vh;
}
.glass_input_field_new_customer_add select {
  box-shadow: 0 0px 0px 1px rgba(145, 141, 141, 0.5);
  border-radius: 0.4vw;
  font-size: 0.9vw;
  background-color: #ffffff;
  padding-left: 0.2vw;
  width: 12vw;
  height: 3.8vh;
  border: 0.001px solid red;
  border-color: #b1afaf;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  animation: 3s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.glass_input_field_new_customer_add input {
  box-shadow: 0 0px 0px 1px rgba(145, 141, 141, 0.5);
  border-radius: 0.4vw;
  font-size: 0.9vw;
  background-color: #ffffff;
  padding-left: 0.2vw;
  width: 12vw;
  height: 3.8vh;
  border: 0.001px solid red;
  border-color: #b1afaf;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  animation: 3s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.glass_input_field_new_customer_add input::placeholder {
  font-size: 13px;
}
/*============== glass_container_second_row_div_new_customer_add ============*/
.glass_container_second_row_div_new_customer_add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
  margin-bottom: 1vh;
  column-gap: 5vw;
}

.glass_conatainer_button_new_customer_add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.glass_conatainer_button_new_customer_add button:active {
  transform: scale(0.9);
}

.glass_conatainer_button_new_customer_add button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4.3vw;
  height: 4.3vw;
  font-size: 2vw;
  color: #000000;
  background-color: rgb(206, 203, 203);
  cursor: pointer;
  border: none;
  border-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.first_btn_create_user {
  animation-name: effectLeft;
  animation-duration: 1s;
}
.second_btn_edit_user {
  animation-name: effectTop;
  animation-duration: 1s;
}
.third_btn_delete_user {
  animation-name: effectRight;
  animation-duration: 1s;
}
.glass_conatainer_button_new_customer_add span {
  font-size: 1.2vw;
  font-weight: bold;
  padding-top: 1vw;
  color: #000;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

/* /============/glass_container_third_row_div_new_customer_add ==============*/
.glass_container_third_row_div_new_customer_add {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: #d6d5d5;
  border-radius: 2vh;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  width: 96%;
  height: 50%;
  padding: 1vh;
  animation-name: effectButtom;
  animation-duration: 1s;
}

.glass_container_table_data_new_customer_add {
  overflow-y: scroll;

  width: 100%;
  height: 100%;
}
.glass_container_table_data_new_customer_add::-webkit-scrollbar {
  background-color: #bbb9b9;
  width: 0.9vw;
  border-radius: 0.5vw;
}
.glass_container_table_data_new_customer_add::-webkit-scrollbar-thumb {
  width: 0.5vw;
  color: white;
  background-color: rgb(233, 232, 232);
}
.glass_container_table_data_new_customer_add th {
  position: sticky;
  top: 0;
  background-color: #0e0e0e;
  color: #ffffff;
  width: 100vw;
  font-size: 1.1vw;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
.glass_container_table_data_new_customer_add tr {
  background-color: rgb(236, 234, 234);
}

.glass_container_table_data_new_customer_add td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 0;
  font-size: 1vw;
  cursor: pointer;
}
.glass_tr:hover {
  background-color: gray;
}
.glass_tr_active {
  background-color: green !important;
  color: white;
}

/* ===============Media query 668 ============*/

@media screen and (max-width: 668px) {
  .glass_text_primary {
    font-size: 2rem !important;
  }
  .glass_container_first_row_div_new_customer_add {
    display: grid;
    grid-template-columns: auto;
    height: auto;
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
  }

  .glass_input_field_new_customer_add label {
    font-size: 16px;
    width: 200px;
  }

  .glass_input_field_new_customer_add select {
    width: 100%;
    font-size: 15px;
  }
  .glass_input_field_new_customer_add input {
    width: 100%;
    font-size: 15px;
  }

  .glass_conatainer_button_new_customer_add button {
    width: 50px;
    height: 50px;
    font-size: 35px;
  }

  .glass_conatainer_button_new_customer_add span {
    font-size: 20px;
  }

  .glass_container_table_data_new_customer_add th {
    font-size: 16px;
  }

  .glass_container_table_data_new_customer_add td {
    font-size: 13px;
  }
}
/* /==========================/media query max width: 768px ==============*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .glass_text_primary {
    font-size: 3rem !important;
  }
  .glass_container_first_row_div_new_customer_add {
    display: grid;
    grid-template-columns: auto;
    height: auto;
    grid-column-gap: 3vw;
    grid-row-gap: 2vh;
  }

  .glass_input_field_new_customer_add label {
    font-size: 25px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .glass_input_field_new_customer_add select {
    width: 100%;
    font-size: 20px;
  }
  .glass_input_field_new_customer_add input {
    width: 100%;
    font-size: 2.3vw;
  }

  .glass_conatainer_button_new_customer_add button {
    width: 80px;
    height: 80px;
    font-size: 45px;
  }
  .glass_conatainer_button_new_customer_add span {
    font-size: 28px;
  }

  .glass_container_table_data_new_customer_add th {
    font-size: 22px;
  }

  .glass_container_table_data_new_customer_add td {
    font-size: 18px;
  }
}

/* /==========================/media query max width: 992px ==============*/
/* @media screen and (max-width: 992px) {
  .glass_text_primary {
    font-size: 2rem !important;
  }
  .glass_container_first_row_div_new_customer_add {
    display: grid;
    grid-template-columns: auto auto auto;
    height: auto;
    grid-column-gap: 3vw;
    grid-row-gap: 2vh;
  }

  .glass_input_field_new_customer_add label {
    font-size: 1.7vw;
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .glass_input_field_new_customer_add select {
    width: 14vw;
    font-size: 1.6vw;
  }
  .glass_input_field_new_customer_add input {
    width: 14vw;
    font-size: 1.6vw;
  }
  .glass_input_field_new_customer_add input::placeholder {
    font-size: 1.5vw;
  }
  .glass_conatainer_button_new_customer_add button {
    width: 4.5vw;
    height: 4.5vw;
    font-size: 3vw;
  }
  .glass_conatainer_button_new_customer_add span {
    font-size: 2vw;
  }

  .glass_container_table_data_new_customer_add th {
    font-size: 1.8vw;
  }

  .glass_container_table_data_new_customer_add td {
    font-size: 1.6vw;
  }
} */
/* Additional styles for smaller screens */

/* ===============Animation ============*/

@keyframes effectLeft {
  0% {
    transform: translateX(-20vw);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes effectRight {
  0% {
    transform: translateX(20vw);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes effectTop {
  0% {
    transform: translateY(-20vw);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes effectButtom {
  0% {
    transform: translateY(20vw);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  5% {
    visibility: hidden;
    opacity: 0.05;
    box-shadow: 2px 2px 125px 2px rgba(145, 141, 141, 0.5);
  }
  10% {
    visibility: visible;
    opacity: 0.1;
    box-shadow: 2px 2px 120px 2px rgba(145, 141, 141, 0.5);
  }
  15% {
    visibility: visible;
    opacity: 0.15;
    box-shadow: 2px 2px 110px 2px rgba(145, 141, 141, 0.5);
  }
  20% {
    visibility: visible;
    opacity: 0.2;
    box-shadow: 2px 2px 100px 2px rgba(145, 141, 141, 0.5);
  }

  25% {
    visibility: hidden;
    opacity: 0.25;
    box-shadow: 2px 2px 95px 2px rgba(145, 141, 141, 0.5);
  }
  30% {
    visibility: visible;
    opacity: 0.3;
    box-shadow: 2px 2px 90px 2px rgba(145, 141, 141, 0.5);
  }
  35% {
    visibility: visible;
    opacity: 0.35;
    box-shadow: 2px 2px 85px 2px rgba(145, 141, 141, 0.5);
  }
  40% {
    visibility: visible;
    opacity: 0.4;
    box-shadow: 2px 2px 80px 2px rgba(145, 141, 141, 0.5);
  }
  45% {
    visibility: hidden;
    opacity: 0.45;
    box-shadow: 2px 2px 75px 2px rgba(145, 141, 141, 0.5);
  }
  50% {
    visibility: visible;
    opacity: 0.5;
    box-shadow: 2px 2px 70px 2px rgba(145, 141, 141, 0.5);
  }
  55% {
    visibility: visible;
    opacity: 0.55;
    box-shadow: 2px 2px 65px 2px rgba(145, 141, 141, 0.5);
  }
  60% {
    visibility: visible;
    opacity: 0.6;
    box-shadow: 2px 2px 60px 2px rgba(145, 141, 141, 0.5);
  }
  65% {
    visibility: visible;
    opacity: 0.65;
    box-shadow: 2px 2px 55px 2px rgba(145, 141, 141, 0.5);
  }
  70% {
    visibility: hidden;
    opacity: 0.7;
    box-shadow: 2px 2px 50px 2px rgba(145, 141, 141, 0.5);
  }
  75% {
    visibility: visible;
    opacity: 0.75;
    box-shadow: 2px 2px 45px 2px rgba(145, 141, 141, 0.5);
  }
  80% {
    visibility: visible;
    opacity: 0.8;
    box-shadow: 2px 2px 40px 2px rgba(145, 141, 141, 0.5);
  }
  85% {
    visibility: visible;
    opacity: 0.85;
    box-shadow: 2px 2px 15px 2px rgba(145, 141, 141, 0.5);
  }
  90% {
    visibility: visible;
    opacity: 0.9;
    box-shadow: 2px 2px 10px 2px rgba(145, 141, 141, 0.5);
  }
  95% {
    visibility: visible;
    opacity: 0.95;
    box-shadow: 2px 2px 5px 2px rgba(145, 141, 141, 0.5);
  }
  100% {
    visibility: visible;
    opacity: 1;
    box-shadow: 2px 2px 4px 2px rgba(145, 141, 141, 0.5);
  }
}

@keyframes transition_from_left_to_right {
  0% {
    transform: translateX(-10vw);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
